1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

In [32]:
# * - Expression
# 'hello' - Value
# -87.8 - Value
# - - Expression
# / - Expression
# + - Expression
# 6 - Value

2. What is the difference between string and variable?

In [31]:
# String
# A string is a sequence of one or more characters (letters, numbers, symbols) that can be either a constant or a variable. Made up of Unicode, strings are immutable sequences, meaning they are unchanging.
# Variable
# Variables are symbols that you can use to store data in a program.

3. Describe three different data types.

In [30]:
#Strings -> Examples - "Hello!", "23.34"
    #Text - anything between " "  becomes string -> Immutable
# Integers -> Examples - 5364, 2, 444
    #Whole numbers are Integers -> Immutable
# Floats -> Examples - 1.11, 3.1415
    #Decimal Numbers are Floats -> Immutable

4. What is an expression made up of? What do all expressions do?

In [29]:
# A combination of operands and operators is called an expression.
# The expression in Python produces some value or result after being interpreted by the Python interpreter.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [28]:
# Expression evaluates a single statement.
# An expression usually refers to a piece of code that can be evaluated to a value, and is composed of variables, operators, function calls, and literals. In most programming languages, common examples of expressions are method calls and mathematical operations.
spam = 10 # Here, variable 'spam' has assigned a value '10'
# Statement refers to a piece of code that executes a specific instruction or tells the computer to complete a task.  A statement can take the form of assignments, control statements, import statements, loop statements, jump statements, or method calls.
# Full statement ' spam = 10 ' is a statement

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [26]:
# The 'bacon' has value of 22
bacon = 22
# After adding 1 to bacon, it will print 23, but bacon still has value of 22 as variable stores 22 and no command has given to update the value.
bacon+1 # 22+1 = 23 but bacon is still 22

23

In [27]:
print(bacon)

22

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [20]:
# 'spam' + 'spamspam' -> Concatenation 
'spam' + 'spamspam'

'spamspamspam'

In [21]:
# 'spam' * 3 -> Will print the string 3 times
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
The variable names contains characters, special characters like '_' and numbers but only numbers cause error.

In [13]:
eggs = 10 #eggs is an integer

In [14]:
_eggs = 10.0 # _eggs is a floating number

In [15]:
_eggs

10.0

In [19]:
e_j = 1 #Variable name can have special character

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

The three functions are:
    int() - To get integer version of a value.
    str() - To get string version of a value.
    float()- To get floating version of a value.

In [6]:
# Let suppose a varaible, 'a' has a value
a = '9999'
int(a)

9999

In [7]:
float(a)

9999.0

In [11]:
b = 999

In [12]:
str(b)

'999'

10. Why does this expression cause an error? How can you fix it?
'I have eaten'; + 99 +  'burritos.'

In [4]:
# The expression will cause an error beacuse it is concating 'string' with 'int'. Here, the data types must be same.
print('I have eaten ' + 99 + ' burritos.')

TypeError: can only concatenate str (not "int") to str

In [5]:
# To remove the error, cast 'int' to 'str' and then print it.
print('I have eaten ' + str(99) + ' burritos.')

I have eaten 99 burritos.